fastapi[standard]
uvicorn
sqlalchemy
alembic
psycopg2-binary
slowapi
python-dotenv
pyjwt
passlib
bcrypt==4.0.1
python-multipart
email-validator
Authlib
pydantic
pydantic-settings
itsdangerous
google-api-python-client 
google-auth-oauthlib 
google-auth-httplib2
httpx>=0.25.0
cachetools>=5.3.0
google-auth>=2.23.0
google-auth-oauthlib>=1.1.0
google-auth-httplib2>=0.1.1